@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Gothic', serif;
}
body{
    font-family: 'Gothic', serif;

}
body::-webkit-scrollbar {
  width: 1em;
  
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(18,34,45);
  outline: 1px solid slategrey;
  border-radius: 10px;
}
.preloader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #12222D;
  
}
.loadout{
  height: 100vh;
  width: 100%;
  background: #12222D;

}
